/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body{
		padding-right:15px;
	}
.problems{
	padding-left:450px;
}
.left-top-wr img{
	
	width:30%;
}
.right-top-wr{
	position: relative;
}

.iconText{
	width:70%;
	
}
.mym{
	position: absolute;
	top:27px;
	right:10px;
}
.mym, .fixing{
	font-size:24px;
}
.phones{
	font-size:22px;
	
	position: absolute;
	left:360px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body{
		padding-right:15px;
	}
.left-top-wr{
width:100%;
display: none;
margin:auto;
}	
	
.right-top-wr{
	position: relative;
	width:100%;
	background: url(../images/str1.png) no-repeat;
	-webkit-background-size: 100%;
		background-size: 100%;
}	
.mym{
	position: absolute;
	top:27px;
	left:480px;
	font-size:26px;
}

.phones{
	font-size:22px;
	
	position: absolute;
	left:480px;
}	
	
.image-wash{
	visibility:hidden;
	position:absolute;
}
.problems{
	padding-left:0px;
}
#feedback-form{
	margin: auto;
	width:100%;
	
}


}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body{
		padding-right:15px;
		overflow-x:hidden;
	}
	.right-top-wr{
	position: relative;
	width:100%;
}	
.fixing{
	
	position:absolute;
	left:50px;
	font-size:26px;
}
	.mym{
	position: absolute;
	top:27px;
	left:320px;
	font-size:22px;
}
.iconsText{
	
}
.phones{
	font-size:24px;
	width:100%;
	display: inline;
	position: absolute;
	left:420px;
	top:80px;
}
	
	
.wrapper_time{
	
	width:100%;
	text-align:middle;
}
.image-wash{
	visibility:hidden;
	position:absolute;
	width:100%;
}

#feedback-form{
	margin: auto;
	width:100%;
	
}
}			


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	body{
		padding-right:10px;
		overflow-x:hidden;
	}
	.right-top-wr{
	position: relative;
	width:100%;
}	
	.mym{
	position: absolute;
	top:27px;
	left:300px;
	font-size:16px;
}

.phones{
	font-size:16px;
	width:100%;
	position: absolute;
	
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
body{
		overflow-x:hidden;
		padding-right:15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
body{
		overflow-x:hidden;
		padding-right:15px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
