/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body{
		padding-right:15px;
	}
.problems{
	padding-left:450px;
}
.left-top-wr{
	
	
}
.right-top-wr{
	position: relative;
	
	
}

.iconText{
	width:70%;
	
}
.mym{
	position: absolute;
	top:27px;
	right:5px;
}
.mym, .fixing{
	font-size:32px;
}
.phones{
	font-size:22px;
	margin-top:5px;
	position: absolute;
	left:360px;
	}
.num1{
	padding-bottom:8px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body{
		padding-right:15px;
	}
.left-top-wr{
display:none;

margin:auto;
}	
	
.right-top-wr{
	position: relative;
	background: url(../images/str1.png) no-repeat;
	
}	
.mym{
	position: absolute;
	top:27px;
	left:480px;
	font-size:26px;
}

.phones{
	font-size:22px;
	
	position: absolute;
	left:480px;
}	
	
.image-wash{
	
	position:absolute;
}
.problems{
	padding-left:0px;
}
#feedback-form{
	margin: auto;
	width:100%;
	
}
.to-top1{
	opacity:0.5;

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body{
		padding-right:15px;
	}
.left-top-wr{
width:100%;

margin:auto;
}	
	
.right-top-wr{
	position: relative;
	width:100%;
	background: url(../images/str1.png) no-repeat;
	-webkit-background-size: 100%;
		background-size: 100%;
}	
.mym{
	position: absolute;
	top:27px;
	left:480px;
	font-size:26px;
}

.phones{
	font-size:22px;
	
	position: absolute;
	left:480px;
}	
	
.image-wash{
	
	position:absolute;
}
.problems{
	padding-left:0px;
}
#feedback-form{
	margin: auto;
	width:100%;
	
}
}			


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

	

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
body{
		overflow-x:hidden;
		padding-right:15px;
	}
	.left-top-wr{
		width:100%;
	}
	.right-top-wr{
	position: relative;
	width:100%;
	
}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
